
.logobrand {
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
   
}


header {
    background: linear-gradient(90deg, rgba(56, 56, 56, 1) 0%, rgba(4, 38, 74, 1) 100%, rgba(23, 98, 173, 1) 62%);
    border-radius:1px 1px 30px 30px;
}

  

.logotext {
  font-size: 3rem;
  
  
}



        .nav-bg {
            background-color: #2c3e50;
            /* Темно-синий/серый фон хедера */
            color: white;
            font-size: 24px;
        }

.process {
  padding: 0.4rem 1rem;
  background: #ecf0f1;
  text-align: center;
}

.process-steps {
  max-width: fit-content ;
  display: flex;
  margin: 0 auto;
  gap: 2rem;
  margin-bottom: 2rem;
}

.step {
  background: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.step:hover {
  transform: translateY(-5px);
}

.step-icon {
  width: 150px;
  height: 150px;
  margin: 0 auto 0.2rem;
  color: #3498db;
}

.step-icon svg {
  width: 100%;
  height: 100%;
}

.step-title {
  font-size: 1rem;
  font-weight: 600;
  color: #2c3e50;
}

.process-subtitle {
  color: #7f8c8d;
  font-size: 2rem;
  margin-top: 2rem;
}

.services {
  padding: 4rem 2rem;
  background: white;
  text-align: center;
}

.services-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.service-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.service-title {
  padding: 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #2c3e50;
}

.services1 {
  padding: 2rem 1rem;
  background: rgb(255, 255, 255);
  text-align: center;
}

.services-grid1 {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  
}

.service-card1 {
  background: rgb(0, 0, 0);
  border-radius: px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.service-card:hover1 {
  transform: translateY(-5px);
}

.service-image1 {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.service-title1 {
  padding: 0.5rem;
  font-size: 0.5rem;
  font-weight: 400;
  color: #ffffff;

}

.section-title2 {
  z-index: 200;
  color: #000;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.section-title2 {
  z-index: 200;
  color: #000;
  margin-bottom: 2rem;
  font-size: 1rem;
}



.zakaz {
  background: linear-gradient(90deg, rgba(56, 56, 56, 1) 0%, rgba(4, 38, 74, 1) 100%, rgba(23, 98, 173, 1) 62%);
  color: white;

}



@media (min-width: 1200px) { 

  .zakaz {
  background: linear-gradient(90deg, rgba(56, 56, 56, 1) 0%, rgba(4, 38, 74, 1) 100%, rgba(23, 98, 173, 1) 62%);
  color: white;
  font-size: 16px;

}

    .logobrand {
    width: 60px;
    height: 60px;
    margin-bottom: 1rem ;

}

.logotext {
  font-size: 1rem ; 
}


 
.links {
  gap: 10px;
}

.services1 {
  padding: 2rem 1rem;
  background: rgb(255, 255, 255);
  text-align: center;
}

.services-grid1 {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  
}

.service-card1 {
  background: rgb(0, 0, 0);
  padding-top: ;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.service-card:hover1 {
  transform: translateY(-5px);
}

.service-card2 {
  background: rgb(0, 0, 0);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.service-card:hover2 {
  transform: translateY(-5px);
}

.service-card3 {
  background: rgb(0, 0, 0);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.service-card:hover3 {
  transform: translateY(-5px);
}

.service-card4 {
  background: rgb(0, 0, 0);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.service-card:hover4 {
  transform: translateY(-5px);
}

.service-image1 {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.service-title1 {
  margin-bottom: 10px;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  justify-content: center;

}



.section-title2 {
  z-index: 200;
  color: #000;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.section-title1 {
  z-index: 200;
  color: #000;
  margin-bottom: 2rem;
  font-size: 2rem;
}

}
