/* Общие стили и сброс */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

 a {
    text-decoration: none;
 }

/* Стилизация всего блока (шапки/меню) */
.header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Легкая тень для выделения блока */
}

.logo-buttons-top {
  width: 100%;
}

/* --- Верхний сектор --- */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #383838;
    background: linear-gradient(90deg, rgba(56, 56, 56, 1) 0%, rgba(4, 38, 74, 1) 100%, rgba(23, 98, 173, 1) 62%);
    border-radius:1px 1px 30px 30px;
    display: flex;
    justify-content: space-between; /* Располагаем элементы слева (можно использовать space-around или space-between) */
    align-items: center;
}

/* Логотип */
.logo {
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px;
    line-height: 1;
}

.logo-connector {
  width: 60px;
  height: 60px;
}

.logo-brand {
  font-size: 20px;
  color: white;
}

/* Кнопка "Новинки 2025" */
.btn-new {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid white;/* Цвет границы, похожий на изображение */
    border-radius: 25px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

.btn-new1 {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid white;/* Цвет границы, похожий на изображение */
    border-radius: 25px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

.btn-new:hover {
    background-color: #1e5d87;
    color: white; /* Легкое выделение при наведении */
}

.btn-new1:hover {
    background-color: #939925;
    color: white; /* Легкое выделение при наведении */
}


/* --- Нижний сектор: Горизонтальная навигация --- */

.header-nav {
    padding: 15px 0; /* Отступ сверху и снизу для навигации */
}

.nav-list {
    list-style: none; /* Убираем стандартные маркеры списка */
    margin: 0;
    padding: 0;
    display: flex; /* Делаем список горизонтальным */
    justify-content: center; /* Располагаем элементы слева (можно использовать space-around или space-between) */
    align-items: center;
}

.nav-list li {
    margin-right: 150px; /* Расстояние между ссылками */
}

.nav-list li:last-child {
    margin-right: 0; /* Убираем отступ у последнего элемента */
}

.nav-list a {
    text-decoration: none;
    color: #000000; /* Цвет текста */
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0px 0px 5px;
    transition: color 0.3s;
    /* Можно добавить нижнюю границу при наведении для акцента */
}

.nav-list a:hover {
    color: #3498db; /* Цвет при наведении */
}

.hero {
  background: #f8f8f8;
  height: 100vh;
  width: 100%;
  min-height: 550px;
  display: flex;
  align-items: flex-start;
  align-content: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
     background: #383838;
    background: linear-gradient(90deg, rgba(56, 56, 56, 1) 0%, rgba(4, 38, 74, 1) 100%, rgba(23, 98, 173, 1) 62%);
  border-radius:1px 1px 30px 30px;  
  
  padding: 5rem 10rem;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.h1 {
    padding: 3rem 2.5rem 0 3rem;
    font-size: 5.5rem;
    font-weight: bolder;
    color:white;
}


.hero-subtitle {
  color: rgb(208, 200, 200);
  font-weight: normal;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem ;
}


.ideas-text {
    font-size: 1.8rem;
    font-weight: lighter;
  z-index: 3000;
  color: #ffffff;
  margin-bottom: 1rem;
  line-height: 1.7;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
}






@media (max-width: 768px) {

    /* Убираем лишние отступы контейнера для мобильных */
    .container {
        padding: 0 3px; /* Немного отступа по бокам */
        width: auto;
    }

    /* --- Верхний сектор: Логотип и Кнопки --- */
    .header-top {
        flex-direction: row; /* Элементы в столбец */
        justify-content: center;
        align-items: center;
        padding: 3px 1px;
        text-align: center;
        border-radius: 0 0 5px 5px; /* Убираем или уменьшаем радиус углов */
    }

    /* Логотип */
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 5px;
    }

    .logo-connector {
        width: 27px; /* Уменьшаем размер лого-картинки */
        height: 25px;
    }

    .logo-brand {
      margin-top: 3px;
        font-size: 7px; /* Уменьшаем размер текста бренда */
        display: flex;
        align-items: center;
        padding-right: 330px;
    }

    /* Блок кнопок */
    .header-buttons {
        margin-top: 2px;
        display: flex; /* Для размещения кнопок рядом */
        flex-direction: row; /* Размещаем кнопки друг под другом */
        width: 100%; /* Занимаем всю доступную ширину */
    }

    /* Стили кнопок */
    .btn-new,
    .btn-new1 {
        padding: 4px 4px; /* Уменьшаем отступы кнопок */
        font-size: 4px;
        margin: 10px 3px; /* Добавляем отступ между кнопками */
        width: auto; /* Автоматическая ширина */
        display: block; /* Занимаем всю ширину */
        justify-content: space-around;
        border: 1px solid white;
        border-radius: 3px;
    }

    .btn-new1:hover {
        background-color:  #939925;
    }

    /* --- Нижний сектор: Горизонтальная навигация --- */
    .header-nav {
        padding: 1px 0;
    }

    .nav-list {
        flex-direction: row; /* Элементы навигации в столбец */
        align-items: center;
    }

    .nav-list li {
        margin-right: 0; /* Убираем горизонтальный отступ */
        margin-bottom: 10px; /* Добавляем вертикальный отступ */
    }



    .nav-list a {
        font-size: 6px; /* Уменьшаем размер текста навигации */
        padding: 2px 25px; /* Добавляем небольшие отступы для удобства нажатия */
    }
}



/* --- Медиазапрос для экранов шириной 480px и менее (Мобильные устройства) --- */
@media (max-width: 480px) {

    /* Убираем лишние отступы контейнера для мобильных */
    .container {
        padding: 0 3px; /* Немного отступа по бокам */
        width: auto;
    }

    /* --- Верхний сектор: Логотип и Кнопки --- */
    .header-top {
        flex-direction: row; /* Элементы в столбец */
        justify-content: center;
        align-items: center;
        padding: 3px 1px;
        text-align: center;
        border-radius: 0 0 5px 5px; /* Убираем или уменьшаем радиус углов */
    }

    /* Логотип */
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 5px;
    }

    .logo-connector {
        width: 27px; /* Уменьшаем размер лого-картинки */
        height: 25px;
    }

    .logo-brand {
      margin-top: 3px;
        font-size: 7px; /* Уменьшаем размер текста бренда */
        display: flex;
        align-items: center;
        padding-right: 130px;
    }

    /* Блок кнопок */
    .header-buttons {
        margin-top: 2px;
        display: flex; /* Для размещения кнопок рядом */
        flex-direction: row; /* Размещаем кнопки друг под другом */
        width: 100%; /* Занимаем всю доступную ширину */
    }

    /* Стили кнопок */
    .btn-new,
    .btn-new1 {
        padding: 6px 6px; /* Уменьшаем отступы кнопок */
        font-size: 5px;
        margin: 10px 3px; /* Добавляем отступ между кнопками */
        width: auto; /* Автоматическая ширина */
        display: block; /* Занимаем всю ширину */
        justify-content: space-around;
        border: 1px solid white;
        border-radius: 3px;
    }

    .btn-new {
        background-color: #1e5d87;
    }

    .btn-new1 {
        border-radius: 50%;
        background-color: white;
        color: #000000;
        padding: 5px;
    }

    .btn-new1:hover {
        background-color:  #939925;
    }

    /* --- Нижний сектор: Горизонтальная навигация --- */
    .header-nav {
        padding: 1px 0;
    }

    .nav-list {
        flex-direction: row; /* Элементы навигации в столбец */
        align-items: center;
    }

    .nav-list li {
        margin-right: 0; /* Убираем горизонтальный отступ */
        margin-bottom: 10px; /* Добавляем вертикальный отступ */
    }



    .nav-list a {
        font-size: 6px; /* Уменьшаем размер текста навигации */
        padding: 2px 25px; /* Добавляем небольшие отступы для удобства нажатия */
    }
}

.hero {
  background: #f8f8f8;
  height: 30vh;
  width: 100%;
  min-height: 350px;
  display: flex;
  align-items: flex-start;
  align-content: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
     background: #383838;
    background: linear-gradient(90deg, rgba(56, 56, 56, 1) 0%, rgba(4, 38, 74, 1) 100%, rgba(23, 98, 173, 1) 62%);
  border-radius:1px 1px 30px 30px;  
  
  width: 100%;
  padding: 1rem 1rem;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.h1 {
    padding: 1rem 1rem 0 1rem;
    font-size: 3rem;
    font-weight: bolder;
    color:white;
}


.hero-subtitle {
  color: rgb(208, 200, 200);
  font-weight: normal;
  font-size: 0.90rem;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}


.ideas-text {
    font-size: 0.5rem;
    font-weight: lighter;
  z-index: 3000;
  color: #ffffff;
  margin-bottom: 1rem;
  line-height: 1.;
  padding: 0 30px;
  display: flex;
  text-align: center;
}

